PORT=3000

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/prisma_repro"
DB_USER=postgres
DB_PASSWORD=password
DB_DATABASE_NAME=prisma_repro
DB_PORT=5432

JWT_SECRET=verydifficultkey